@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@font-face {
  font-family: "KakaoBig regular";
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url(https://t1.kakaocdn.net/together_image/fonts/kakao-big-regular.woff2)
      format("woff2"),
    url(https://t1.kakaocdn.net/together_image/fonts/kakao-big-regular.woff)
      format("woff");
}
@font-face {
  font-family: "KakaoBig Bold";
  font-style: normal;
  font-weight: bold;
  font-display: swap;
  src: url(https://t1.kakaocdn.net/together_image/fonts/kakao-big-bold.woff2)
      format("woff2"),
    url(https://t1.kakaocdn.net/together_image/fonts/kakao-big-bold.woff)
      format("woff");
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: #000000;
}
body {
  font-family: "KakaoBig regular", "KakaoBig Bold", "Inter", "Noto Sans KR",
    sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: rgb(32, 32, 32);
  overflow-wrap: break-word;
  background-color: rgb(247, 247, 247);
}
.wrap {
  padding-top: 70px;
  margin: 0 10px;
}

.br-12 {
  border-radius: 12px;
}
