.main-left {
  width: 700px;
  height: 100%;
}

.main-left-div {
}

.left-div-style {
  margin-bottom: 30px;
  padding: 24px 30px 32px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 10px 0px;
  background-color: rgb(255, 255, 255);
}

.cnt-money {
}

/* 추후 수정 예정 */
/* .last-donation > h4 */
.last-donation-comment,
.donation-list-comment {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.4;
  letter-spacing: -0.3px;
}

/* 추후 수정 예정 */
/* .last-donation > h4 */
.last-donation-text,
.donation-list-text {
  padding-top: 4px;
  font-size: 15px;
  line-height: 1.6;
  color: rgb(102, 102, 102);
  letter-spacing: -0.1px;
}

.cnt-donation-content {
  display: flex;

  margin: calc(-12px) 0px;
  padding-top: 20px;
}

.cnt-donation-left {
  /* height: auto;
  width: auto; */
}

.cnt-donation-money {
}

.cnt-money-img {
  width: 280px;
  height: 168px;
  border: 1px solid rgba(0, 0, 0, 0.03);

  background: url("../images/donation_img_01.jpg") no-repeat center;
  background-color: aqua;
  background-size: 100%;
  cursor: pointer;
  border-radius: inherit;
}

.cnt-donation-right {
  width: 100%;

  height: 100%;

  padding: 0 0 0 25px;
}

.cnt-donation-sub-title {
}

.cnt-donation-sub-title > strong {
  /* 폰트가 */
  font-family: "Kakao";
  font-size: 18px;
  line-height: 1.33;
}

/* 추후 변경 */
/* .cnt-donation-sub-title .bar-chart { */
.bar-chart {
  width: 100%;
  height: 6px;
  background-color: red;
}

.last-donation-goal {
  height: 64px;
  margin-top: 0px;
  padding-top: 12px;
  /* background-color: #eeeeee; */
}

.progress-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 6px;
}

.last-donation-btn {
  display: flex;
  gap: 9px;
  align-items: center;
  justify-content: space-between;
  margin-top: auto;
  padding-top: 16px;
}

.last-donation-btn > button {
  position: relative;
  width: 100%;
  height: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 0px;
  padding: 0px 18px;
  border: 1px solid rgb(201, 201, 201);
  box-shadow: none;
  background-color: rgb(255, 255, 255);
  font-family: "Kakao";
  font-size: 14px;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: -0.1px;
  cursor: pointer;
  box-sizing: border-box;
  border-radius: 6px;
}
.last-donation-btn > button::after {
  content: url("footer_facebook_gray80.svg");
  width: 10px;
  height: 10px;
}

.cnt-time-img {
  width: 280px;
  height: 168px;
  border: 1px solid rgba(0, 0, 0, 0.03);

  background: url("../images/donation_img_04.jpg") no-repeat center;
  background-color: aqua;
  background-size: 100%;
  cursor: pointer;
  border-radius: inherit;
}

.donation-list-div {
  /* position: relative; */
}

.many-donation-list {
  width: 100%;

  display: flex;

  display: flex;
  align-items: stretch;
  justify-content: space-between;
  flex-wrap: nowrap;
  padding-top: 16px;
}

.many-donation {
  width: 200px;
  height: auto;
  /* border: 1px solid rgba(0, 0, 0, 0.3); */
  border-radius: inherit;
}

.many-money-img {
  width: 100%;
  height: 137px;
  background: url("../images/donation_img_02.jpg") no-repeat center;
}

.many-donation .bar-chart {
  width: 100%;
  height: 3px;
  background-color: red;
}

.many-donation .last-donation-goal {
}

.donation-list-item {
}
/* .donation-list-sub-title {
} */

.center-name {
}

.donation-list-tags {
  display: flex;
  gap: 6px;
  margin: 15px -18px 5px;
  padding: 0px 20px;
  overflow: hidden;
  white-space: nowrap;
}

.donation-list-tags button {
  height: 37px;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 0px;
  padding: 7px 14px;
  border: 1px solid rgb(238, 238, 238);
  box-shadow: none;
  background-color: rgb(255, 255, 255);
  font-family: "Kakao";
  font-size: 12px;
  line-height: 1.5;
  color: rgb(32, 32, 32);
  text-decoration: none;
  letter-spacing: -0.1px;
  cursor: pointer;
  border-radius: 999px;
}

.donation-list-tags > #basic {
  border: 1px solid rgb(32, 32, 32);
  background-color: rgb(32, 32, 32);
  color: rgb(255, 255, 255);
}

/* 이놈 */
.main-left-slide {
  position: relative;
  width: 100%;
  height: auto;
  height: 100%;
  display: flex;
  /* flex-flow: column wrap; */
  align-items: center;
  outline: none;

  overflow: hidden;
  cursor: pointer;
}

/* 페이지수 */
/* 
.left-slide-pagecnt {
} */

.swiper-wrapper {
  width: 900%;
  display: flex;
  text-align: left;
}

.swiper-slide {
  height: auto;
  padding: 0 0px;
  opacity: 1;
}

.left-swiper-contents {
  height: 100%;
  display: flex;
  align-items: center;
  background-color: rgb(0, 0, 0);
  cursor: pointer;
}

.left-swiper-img {
  width: 250px;
  height: 250px;
  border-radius: 12px 0px 0px 12px;
}

.left-swiper-info {
  position: relative;
  right: 0;
  width: 450px;
  display: flex;
  flex-direction: column;
  margin-top: -8px;
  padding: 0px 30px;
}

.swiper-tag {
  display: flex;
  padding: 0px;
  border: 0px;
  background-color: transparent;
  font-size: 13px;
  letter-spacing: -0.15px;
  order: 1;
  justify-content: flex-start;
}

.swiper-tag > span {
  color: rgb(136, 136, 136);
  font-size: 12px;
  font-style: normal;
  overflow-wrap: break-word;
  letter-spacing: -0.1px;
  opacity: 0.7;
}

.left-swiper-info > strong {
  padding-top: 4px;
  font-size: 20px;
  color: rgb(255, 255, 255);
  white-space: pre-wrap;
  order: 2;
  line-height: 1.56;
}

.left-swiper-info > span {
  /* max-height: 46px; */

  margin-top: 4px;
  padding-top: 11px;
  overflow: hidden;
  font-size: 14px;
  line-height: 23px;
  color: rgb(153, 153, 153);
  white-space: normal;
  order: 3;
}

.progress-count {
  width: fit-content;
  /* width: auto; */
  height: 30px;
  display: flex;
  flex-wrap: nowrap;

  align-items: center;

  margin-top: 15px;
  padding: 0px 12px;
  border: 1px solid rgba(187, 107, 255, 0.5);
  background-color: rgb(0, 0, 0);
  font-size: 13px;
  color: rgb(187, 107, 255);
  text-align: center;
  letter-spacing: -0.3px;
  order: 4;
}

.material-symbols-outlined {
  display: inline-block;
  margin-right: 5px;
  /* font-variation-settings: "FILL" 1, "wght" 300, "GRAD" 0, "opsz" 13;
  width: 13px;
  height: 13px; */
}
