.main {
}

.main-inner {
  display: flex;
  margin: 0 auto;

  width: 1120px;
  max-width: 1120px;
  margin-top: 30px;
  padding-bottom: 46px;

  justify-content: space-between;
}

@media all and (max-width: 767px) and (min-width: 345px) {
  .main-inner {
    flex-direction: column;
    width: 100%;
    max-width: 767px;

    margin: 20px auto 0px;
  }
}
