.main-right {
  width: 360px;
  height: auto;
}
.main-right-div {
}
.main-right-slide {
  background-color: aquamarine;
}

.mr-slide-donation {
}
.mr-slide-review {
}

.main-right-banner {
}
.main-right-score {
}
.main-right-news {
}
