.main-left {
  width: 700px;
  height: 100%;
}

.main-left-div {
}

.left-div-style {
  margin-bottom: 30px;
  padding: 24px 30px 32px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 10px 0px;
  background-color: rgb(255, 255, 255);
}

.cnt-money {
}

/* 추후 수정 예정 */
/* .last-donation > h4 */
.last-donation-comment,
.donation-list-comment {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.4;
  letter-spacing: -0.3px;
}

/* 추후 수정 예정 */
/* .last-donation > h4 */
.last-donation-text,
.donation-list-text {
  padding-top: 4px;
  font-size: 15px;
  line-height: 1.6;
  color: rgb(102, 102, 102);
  letter-spacing: -0.1px;
}

.cnt-donation-content {
  display: flex;

  margin: calc(-12px) 0px;
  padding-top: 20px;
}

.cnt-donation-left {
  /* height: auto;
  width: auto; */
}

.cnt-donation-money {
}

.cnt-money-img {
  width: 280px;
  height: 168px;
  border: 1px solid rgba(0, 0, 0, 0.03);

  background: url("../images/donation_img_01.jpg") no-repeat center;
  background-color: aqua;
  background-size: 100%;
  cursor: pointer;
  border-radius: inherit;
}

.cnt-donation-right {
  width: 100%;

  height: 100%;

  padding: 0 0 0 25px;
}

.cnt-donation-sub-title {
}

.cnt-donation-sub-title > strong {
  /* 폰트가 */
  font-family: "Kakao";
  font-size: 18px;
  line-height: 1.33;
}

/* 추후 변경 */
/* .cnt-donation-sub-title .bar-chart { */
.bar-chart {
  width: 100%;
  height: 6px;
  background-color: red;
}

.last-donation-goal {
  height: 64px;
  margin-top: 0px;
  padding-top: 12px;
  /* background-color: #eeeeee; */
}

.progress-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 6px;
}

.last-donation-btn {
  display: flex;
  gap: 9px;
  align-items: center;
  justify-content: space-between;
  margin-top: auto;
  padding-top: 16px;
}

.last-donation-btn > button {
  position: relative;
  width: 100%;
  height: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 0px;
  padding: 0px 18px;
  border: 1px solid rgb(201, 201, 201);
  box-shadow: none;
  background-color: rgb(255, 255, 255);
  font-family: "Kakao";
  font-size: 14px;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: -0.1px;
  cursor: pointer;
  box-sizing: border-box;
  border-radius: 6px;
}
.last-donation-btn > button::after {
  content: url("footer_facebook_gray80.svg");
  width: 10px;
  height: 10px;
}

.cnt-time-img {
  width: 280px;
  height: 168px;
  border: 1px solid rgba(0, 0, 0, 0.03);

  background: url("../images/donation_img_04.jpg") no-repeat center;
  background-color: aqua;
  background-size: 100%;
  cursor: pointer;
  border-radius: inherit;
}

.donation-list-div {
  /* position: relative; */
}

.many-donation-list {
  width: 100%;

  display: flex;

  display: flex;
  align-items: stretch;
  justify-content: space-between;
  flex-wrap: nowrap;
  padding-top: 16px;
}

.many-donation {
  width: 200px;
  height: auto;
  /* border: 1px solid rgba(0, 0, 0, 0.3); */
  border-radius: inherit;
}

.many-money-img {
  width: 100%;
  height: 137px;
  background: url("../images/donation_img_02.jpg") no-repeat center;
}

.many-donation .bar-chart {
  width: 100%;
  height: 3px;
  background-color: red;
}

.many-donation .last-donation-goal {
}

.donation-list-item {
}
/* .donation-list-sub-title {
} */

.center-name {
}

.donation-list-tags {
  display: flex;
  gap: 6px;
  margin: 15px -18px 5px;
  padding: 0px 20px;
  white-space: nowrap;
  overflow: hidden;
}

.donation-list-tags button {
  font-family: "Kakao";

  height: 37px;
  padding: 7px 14px;
  box-shadow: none;

  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(238, 238, 238);
  margin: 0px;
  line-height: 1.5;
  letter-spacing: -0.1px;
  text-decoration: none;
  cursor: pointer;
  background-color: rgb(255, 255, 255);
  color: rgb(32, 32, 32);
  font-size: 12px;
  border-radius: 999px;
}

.donation-list-tags > #basic {
  border: 1px solid rgb(32, 32, 32);
  background-color: rgb(32, 32, 32);
  color: rgb(255, 255, 255);
}
/* 
.left-slide-pagecnt {
} */
